{% extends 'base.html' %}

{% load static %}


{% block content %}

<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>chatGPT</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body> -->

    <!--  side section -->




    <!-- <section class="side_bar">

        <button class="new_button">New Chat</button>
        <div class="history">

        </div>
        <nav>
            <p>Made by Prem</p>
        </nav>

    </section> -->

    

        <!-- header-->

     
        <!-- main section -->

        <div class="output">
            {{output}}
        </div>
        

        <!--  footer section  -->



        <div class="popup">
            <div class="close-btn">&times;</div>
            <div class="form">
              <h2>Register</h2>
      
              <div class="form-element">
                <label for="name" id="label_name">Name</label>
                <input type="text" id="name" required />
              </div>
      
              <div class="form-element">
                <label for="name">Enter Email</label>
                <input type="email" id="email" required />
              </div>
             
              <div class="form-element">
                <label for="name">Create Password</label>
                <input type="number" id="password" required />
              </div>

      
              <div class="form-element">
                <input type="submit" id="address_submit" />
              </div>
            </div>
            <p href="" class="already_account">Already a Account</p>
        </div>
        <div class="popup_login">
            <div class="close-btn">&times;</div>
            <div class="form">
              <h2>Login</h2>
              <div class="form-element">
                <label for="name">Enter Email</label>
                <input type="email" id="email" required />
              </div>
             
              <div class="form-element">
                <label for="name">Create Password</label>
                <input type="number" id="password" required />
              </div>

      
              <div class="form-element">
                <input type="submit" id="address_submit" />
              </div>
            </div>
            
          </div>

    </section>
    
    <script src="{% static 'app.js' %}"></script>
   
    
</body>
</html>
{% endblock %}