<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    {{bdata}}

    <!-- for loop using django -->
    <!-- {% for n in clist %}
    <div>{{n}}</div>
    {% endfor %} -->

    <!-- use counter -->
    <!-- {% for n in clist %}
    <div>{{forloop.counter}} {{n}}</div>
    {% endfor %} -->

    <!-- fetch disctionary data -->
<!-- 
    <table border="1" cellspacing="10">
        <tr>
            <th>Name</th>
            <th>Phone</th>
           
           
        </tr>
        {% for d in student_details %}
        <tr>
            <td>{{d.name}}</td>
            <td>{{d.phone}}</td>
        </tr>
        {% endfor %}


      
    </table>

    {% for n in numbers %}
        {% if n > 20 %}
        <div>{{n}}</div>
        {% endif %}
    {% endfor %} -->


</body>
</html>